body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: #ffcc00;
}

header h1 {
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

nav a {
    text-decoration: none;
    color: #303032;
    font-size: 20px;
    position: relative;
    padding: 20px 0px;
    margin: 0px 20px;
}
  
nav a::before {
    transition: 200ms;
    height: 5px;
    content:"";
    position: absolute;
    background-color: #ffcc00;
    width: 0%;
    bottom: 10px;
}
  
nav a:hover::before {
    width: 100%;
}  

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.intro {
    display: grid;
    justify-content: center;
    padding: 60px 40px;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

.intro-text {
    max-width: 50%;
}

.intro-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.intro-text .btn {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}

.intro-image img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.projects {
    background-color: #1a1a1a;
    padding: 60px 40px;
    display: grid;
    justify-content: center;
    overflow: hidden;
}

.projects h2 {
    margin-left: 10px;
    font-size: 30px;
}

.projects-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card {
    background-color: #121212;
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows:repeat(5, 1fr);
    gap: 15px;
    width: 200px;
    height: 500px;
    text-align: center;
    justify-items: center;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    margin-top: 0;
}

.card-img {
    width: 100%;
}

.cv {
    display: grid;
    justify-content: center;
    padding-bottom: 30px;
    gap: 20px;
}
.cv h2 {
    text-align: center;
    font-size: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #1a1a1a;
}

.contact a {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    width: 55px;
    text-align: center;
}

.button {
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    color: #000;
    background: #ffcc00;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .button i {
    font-size: 18px;
  }
  
  .button-text,
  .button-links {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  
  .button-text {
    justify-content: center;
  }
  
  .button-links {
    opacity: 0;
    transition: 0.2s;
    font-size: 16px;
  }
  
  .button-cv {
    padding: 0 45px;
    font-size: 16px;
  }

  .button-github {
    padding: 0 20px;
    font-size: 16px;
  }

  .button-website {
    padding: 0 25px;
  }
 
  .button-links .button-contact {
    padding: 50px;
  }

.button-links .button-linkedin {
    padding: 42px;
  }
  
  .button-links a {
    translate: 0 50px;
    transition: 0.3s;
  }
  
  .button:hover {
    border-radius: 6px;
  }
  
  .button:hover .button-links a:nth-child(1) {
    transition-delay: 0.05s;
  }
  
  .button:hover .button-links a:nth-child(2) {
    transition-delay: 0.1s;
  }
  
  .button:hover .button-links a:nth-child(3) {
    transition-delay: 0.15s;
  }
  
  .button:hover .button-text {
    translate: 0 -100%;
  }
  
  .button:hover .button-links {
    opacity: 1;
  }
  
  .button:hover .button-links a {
    translate: 0;
  }
  
  .button-links a{
    color: #000;
    text-decoration: none;
  }

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
}

@media (max-width: 870px) {
  
  nav ul li a {
    font-size: 16px;
}

.header-container {
  padding: 20px 12px;
}

.logo {
  font-size: 30px;
  margin-left: 10px;
}

header {
  position:relative;
}

.intro-image img {
  width: 180px;
  height: 180px;
  margin-right: 20px;
}

.intro-text h1 {
  font-size: 30px;
}

.intro-text p {
  font-size: 16px;
}

.projects-container {
  flex-direction: column;
}

.project-card {
  width: 300px;
  height: 525px;
}

.cv li {
  width: 300px;
}
}
